.bg {
    background-image: url("Images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}

.title {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.header {
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
}

img {
    height: 100%;
}

.row {
    padding: 10px;
}

.price {
    color: tomato;
}

.card {
    height: 50%;
}
